%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      = "Soaked"
    %link{:rel => "stylesheet", :href => "/application.css", :type => "text/css", :media => "all"}
    %body
      %h1 Soaked
      %h3 Minecraft, live
      = yield
