$primary_color: black
$faded_color: #888
$bg_color: white
$primary_font_size: 1em

body
  color: $primary_color
  font:
    size: $primary_font_size
  background:
    color: $bg_color

h1
  margin-bottom: 1px

h3
  margin-top: 1px
  

div.timestamp
  color: $faded_color
  margin-bottom: 10px
